/* Move down content because we have a fixed navbar that is 50px tall */
@media only screen {
  body {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}
/* fix padding under menu after resize */
@media screen and (max-width: 767px) {
  body { padding-top: 60px; }
}
@media screen and (min-width:768px) and (max-width: 991px) {
  body { padding-top: 110px; }
}
@media screen and (min-width: 992px) {
  body { padding-top: 60px; }
}

/* Remove wierd Bootstrp urls when printing */
@media print {
  a[href]:after {
    content: "";
  }
}
